body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: burlywood;
  }
  
  .container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: rgb(185, 143, 106);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  h1 {
    text-align: center;
    color: white;

  } 

  h2 {
    color: white;
  }
  
  form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: white;
  }
  
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
    font-size: 14px;
  }
  
  button {
    display: block;
    width: 100%;
    padding: 10px;
    background: burlywood;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .output {
    margin-top: 20px;

  }